<a href="https://colab.research.google.com/github/freefunction/Python_draft/blob/master/01_introduction_to_python_for_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Variables

v1 = 100
v2 = 1.2

v3 = "Hello"

print(type(v1))
print(type(v2))
print(type(v3))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#Operation

r1 = v1 + v2

r2 = v1 * v2

r3 = v3 +v3

print(r3)

HelloHello

In [ ]:
#Boolean

v4 = True  #1
v5 = False #0

print(type(v4))

r4 = v4 + v5
r5 = v4 * v5

print(r4)
print(r5)

<class 'bool'>
1
0

In [ ]:
#convert data type

print(v1)
print(v2)
print(v3)

print(str(v2) + v3)

print(int(v2))
print(float(v1))

100
1.2
Hello
1.2Hello
1
100.0

In [ ]:
#variables that describe a city

park = 10 # int
temp_average = 25.5 #float
language = "english" #str
near_to_sea = True #bool

#List

city = [park, temp_average,language, near_to_sea]
print(city)

[10, 25.5, 'english', True]

In [ ]:
#operation with a list

city2 =[2,30.5,"french", False]

region = city + city2

print(region)

#access to elements from the list

print(region[-2])

print(region [1:3])

#add element

park = region[0] + region[4]
print(park)

#delete elements

del(region[0])
print(region)

del(region[:2])
print(region)

[10, 25.5, 'english', True, 2, 30.5, 'french', False]
french
[25.5, 'english']
12
[25.5, 'english', True, 2, 30.5, 'french', False]
[True, 2, 30.5, 'french', False]

In [ ]:
#create a copy of list

copy_city = list(city)

copy_city[0]= 13

print(city)
print(copy_city)

[10, 25.5, 'english', True]
[13, 25.5, 'english', True]

In [ ]:
#create list of liste

city3 = [city, city2]
print(city3)
print(type(city3))

#access to list of list

print(city3[0])
print(city3[1][0])

[[10, 25.5, 'english', True], [2, 30.5, 'french', False]]
<class 'list'>
[10, 25.5, 'english', True]
2