**Introduction**


1.  Variables in python 
2.  Type of variable
3.  operation with string variable 
4.  Boolean variable
5.  convert type of variable

In [ ]:
# Variable in python 

var1 = 100

var2 = 1.10

# operation
res1 = (var1 * var2) ** 2

# Print out result
print(res1)

12100.000000000004

In [ ]:
# type of variable

print(type(var1))

print(type(var2))

<class 'int'>
<class 'float'>

In [ ]:
# string variable and operation

var3 = "Hello"
var4 = " I'm python"

print(type(var3))
print(var3 + var4)
print (var3 * 3)

<class 'str'>
Hello I'm python
HelloHelloHello

In [ ]:
#boolean variable

var5 = True #1
var6 = False #0

print(var5)
print(var5 + var6)
print(var5 * var6)
print(type(var5))

True
1
0
<class 'bool'>

In [ ]:
#convert variable type

# convert int to string 
name = "Python"
age = 33

print("My name is " + name + " and I'm " + str(age) + " years old")

#convert string to int 
var7 = "100"
print(type(var7))

var8 = int(var7)
print(type(var8))

My name is Python and I'm 33 years old
<class 'str'>
<class 'int'>

**List**

In order to create variables one by one . it's possible to store many of them and with different data type in the list

In [ ]:
# different places in city 

park = 10
monument = 3
administration = 5
school = 7
university = 1
sport_Hall = 2

#city 

city = [park, monument, school, university, sport_Hall ]

print(city)
print(type(city))

[10, 3, 7, 1, 2]
<class 'list'>

In [ ]:
#list with different data type

language = "Arabic"

near_to_sea = True

temp_average = 25.5

#city

city = [park, monument, school, university, sport_Hall, language, near_to_sea, temp_average]
print(city)

[10, 3, 7, 1, 2, 'Arabic', True, 25.5]

In [ ]:
# operation with list

countryside =["Agriculture","horses","cows" ]

region = city + countryside

print(region)

region_1 = region + ["mountain", "sea"] 

print(region_1)

#access to element 

print(city [0])

#add elements

print(city[0] + city[1])

[10, 3, 7, 1, 2, 'Arabic', True, 25.5, 'Agriculture', 'horses', 'cows']
[10, 3, 7, 1, 2, 'Arabic', True, 25.5, 'Agriculture', 'horses', 'cows', 'mountain', 'sea']
10
13

In [ ]:
#delet element form list

#del(city[0])
#print(city)

#del(city[-1])
#print(city)

#element 3 not included 
#del(city[0:3])
#print(city)

In [ ]:
#create a copy of list , in order to keep the original one safe without modification
#replace value of the first element of copy_city

copy_city = list(city)

copy_city[0] = 30

print(city)
print(copy_city)

[10, 3, 7, 1, 2, 'Arabic', True, 25.5]
[30, 3, 7, 1, 2, 'Arabic', True, 25.5]

In [ ]:
#create list of list

Parc = [["Green", 2],["Aqua",3] ,["Zoo",1]]

print(Parc)

print(Parc[0])
print(Parc[0][1])

[['Green', 2], ['Aqua', 3], ['Zoo', 1]]
['Green', 2]
2

In [ ]:
#slicing 

print(region)
city = region[:8]
countryside = region[-3:]
print(city)
print(countryside)

[10, 3, 7, 1, 2, 'Arabic', True, 25.5, 'Agriculture', 'horses', 'cows']
[10, 3, 7, 1, 2, 'Arabic', True, 25.5]
['Agriculture', 'horses', 'cows']